@import "./plugins/dataTables.bootstrap4.min.css";
@import "./plugins/responsive.bootstrap4.min.css";
@import "./plugins/buttons.bootstrap4.min.css";


/* Phosphor Icons */
@import url("https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css");
@import url("https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css");