.dropzone {
	overflow-y: auto;
	border: 0;
	background: transparent;
}
.dz-preview {
	width: 100%;
	margin: 0 !important;
	height: 100%;
	padding: 15px;
	position: absolute !important;
	top: 0;
}
.dz-photo {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 12px;
	background: #eae7e2;
}
.dz-drag-hover .dropzone-drag-area {
	border-style: solid;
	border-color: #86b7fe;;
}
.dz-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.dz-image {
	width: 90px !important;
	height: 90px !important;
	border-radius: 6px !important;
}
.dz-remove {
	display: none !important;
}
.dz-delete {
	width: 24px;
	height: 24px;
	background: rgba(0, 0, 0, 0.57);
	position: absolute;
	opacity: 0;
	transition: all 0.2s ease;
	top: 30px;
	right: 30px;
	border-radius: 100px;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dz-delete > svg {
	transform: scale(0.75);
	cursor: pointer;
}
.dz-preview:hover .dz-delete, 
.dz-preview:hover .dz-remove-image {
	opacity: 1;
}
.dz-message {
	height: 100%;
	margin: 0 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropzone-drag-area {
	height: 300px;
	position: relative;
	padding: 0 !important;
	border-radius: 10px;
	border: 3px dashed #dbdeea;
}
.was-validated .form-control:valid {
	border-color: #dee2e6 !important;
	background-image: none;
}

















.nodisplay{
	display: none;
}

.cursor-pointer{
	cursor: pointer;
}

.gap-1 > * + * {
  margin-left: .25rem;
}

.gap-2 > * + * {
  margin-left: .5rem;
}

.gap-3 > * + * {
  margin-left: 1rem;
}

.gap-4 > * + * {
  margin-left: 1.5rem;
}

.gap-5 > * + * {
  margin-left: 3rem;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

label.form-label{
	font-weight: 500 !important;
}

label.required:after {
	content:" *";
	color: red;
}


.brand-link{
	padding: 6px 8px !important;
}


.brand-image{
	opacity: 1 !important;
	max-height: 40px !important;
	margin-top: 3px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.brand-text{
	font-size: 42px;
	line-height: 42px;
	font-weight: 500 !important;
	padding-left: 10px;
}

.brand-text img{
	height: 33px;
}

/**
=== Data table
*/
.data-table-responsive{
	padding: 20px !important;
}

table{
	white-space: nowrap;
}
table td, table th {
	vertical-align: middle !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}
table th::before, table th::after {
	bottom: 10px !important;
}

table.collapsed td.dtr-control{
	padding-left: 40px !important;
}

table td.dtr-control::before{
	left: 10px !important;
}


/**
=== Loading mask 2
*/
#loadingdots {
	position: relative;
	height: 100px;
	width: 200px;
	top: calc(50% - 50px);
	left: calc(50% - 100px);
}

#loadingdots_1 {
	left: 0;
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

#loadingdots_2 {
	left: 30px;
	-moz-animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

#loadingdots_3 {
	left: 60px;
	-moz-animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

#loadingdots_4 {
	left: 90px;
	-moz-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

#loadingdots_5 {
	left: 120px;
	-moz-animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
	-ms-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
#loadingdots_6 {
	left: 150px;
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
#loadingdots_7 {
	left: 180px;
	-moz-animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

@-moz-keyframes bounce_loadingdots{
	0%{
		-moz-transform: scale(1);
		opacity: 0.5;
	}

	25%{
		-moz-transform:scale(1.5);
		opacity:1;
	}

	50%{
		-moz-transform:scale(1);
		opacity: 0.5;
	}

	100%{
		-moz-transform:scale(1);
		opacity: 0.5;
	}
}

@-webkit-keyframes bounce_loadingdots{
	0%{
		-webkit-transform:scale(1);
		opacity: 0.5;
	}

	25%{
		-webkit-transform:scale(1.5);
		opacity:1;
	}

	50%{
		-webkit-transform:scale(1);
		opacity: 0.5;
	}

	100%{
		-webkit-transform:scale(1);
		opacity: 0.5;
	}
}

@-ms-keyframes bounce_loadingdots{
	0%{
		-ms-transform:scale(1);
		opacity: 0.5;
	}

	25%{
		-ms-transform:scale(1.5);
		opacity:1;
	}

	50%{
		-ms-transform:scale(1);
		opacity: 0.5;
	}

	100%{
		-ms-transform:scale(1);
		opacity: 0.5;
	}
}

@-o-keyframes bounce_loadingdots{
	0%{
		-o-transform:scale(1);
		opacity: 0.5;
	}

	25%{
		-o-transform:scale(1.5);
		opacity:1;
	}

	50%{
		-o-transform:scale(1);
		opacity: 0.5;
	}

	100%{
		-o-transform:scale(1);
		opacity: 0.5;
	}
}

@keyframes bounce_loadingdots{
	0%{
		transform:scale(1);
		opacity: 0.5;
	}

	25%{
		transform:scale(1.5);
		opacity:1;
	}

	50%{
		transform:scale(1);
		opacity: 0.5;
	}

	100%{
		transform:scale(1);
		opacity: 0.5;
	}
}

.loadingdots {
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: bounce_loadingdots;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: bounce_loadingdots;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: bounce_loadingdots;
	background-color: #FFC40D;
	border-radius: 5px;
	position: absolute;
	top: 0;
	color: #fff; padding : 40px 5px;
	text-align: center;
	padding: 40px 5px;
}

#loadingmask2 {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100%;
	z-index: 99999;
}